@charset "ISO-8859-1";

body{
	padding: 0rem 0rem 1rem 0rem;
}
.toast{
	display: block !important;
	width: 100%;
	font:19px sans-serif;
}
.flash{
	width: 100%;
	text-align: center;
	z-index: 5;
	position: fixed;
	top: 7rem;
	background-color: springgreen;
}
#topBox{
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 7rem;
	width: 100%;
	background-color: #FFD4B2;
	padding: 1rem 2rem 1rem 2rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
#innerTopBox{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 35rem;
}
.btn-danger{
	font-size: larger;
}
#bodyBox{
    position: relative;	
    background-color: #FFE6E6;
    margin: 9rem 1rem 1rem 1rem;
    padding: 2rem;
    border-radius: 23px;
}
#bodyBox::before{
	content: "";
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#bodyBox h3{
	text-align: center;
}
.fileInfo{
	background-color: #FEC7B4;
	padding: 1rem 1rem 0 1rem;
	font-family: monospace;
	padding: 0.5rem;
}
.fileButtons{
	font-size:1.5rem ;
}
#keyText{
	width: 30rem;
	visibility:hidden;
}
#saveBtn{
	margin-right: 0.8rem;
}
.hoverButton:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;	
}