<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link th:href="@{/css/registration.css}" rel="stylesheet" />
</head>
<body>
    <!-- navigation form -->
    <nav id="headingTitleBox" class="navbar bg-body-tertiary">
      <div id="headingTitle" class="container-fluid">
        <span class="navbar-brand mb-0 h1"> Online  Cryptography  Tool </span>
      </div>
    </nav>
    <!--flashes -->
    <div th:if="${success}" role="alert" class="flash">
		<div class="alert alert-success" th:text="${success}">  </div>
	</div>
	
	<div th:if="${usernotfound}" role="alert" class="flash" id="flash2">
		<!--<div class="alert alert-danger" th:text="${failure}">  </div> -->
		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		   <div class="toast-header">
			    <button type="button" class="btn-close toastCloseBtn" id="toastCloseBttn2" data-bs-dismiss="toast" aria-label="Close"></button>
		   </div>
		   <div class="toast-body" th:text="${usernotfound}"> </div>
		</div>
	</div>
	
	<div th:if="${alreadyexists}" role="alert" class="flash" id="flash1">
	    <!--<div class="alert alert-danger" th:text="${alreadyexists}">  </div-->
	    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		   <div class="toast-header">
			    <button type="button" class="btn-close toastCloseBtn" id="toastCloseBttn1" data-bs-dismiss="toast" aria-label="Close"></button>
		   </div>
		   <div class="toast-body" th:text="${alreadyexists}"> </div>
		</div>
	</div> 

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3" id="thirdBox">
	           <h1> User Registration Form </h1>
				 <form th:action="@{/register}" method="post" th:object="${registration}">
				   
					<div class="form-group">
						<label class="control-label" for="firstName"> First Name</label>
						<input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus"/>
					</div> 
					<div class="form-group">
						<label class="control-label" for="lastName"> Last Name</label>
						<input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus"/>
					</div>
					<div class="form-group">
						<label class="control-label" for="email"> Email </label>
						<input type="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" id="email" class="form-control" th:field="*{email}" required autofocus="autofocus"/>
					</div>
					<div class="form-group">
						<label class="control-label" for="password"> Password </label>
						<input id="password" type="password" class="form-control" th:field="*{password}" required autofocus="autofocus"/>
					</div>
					<div class="form-group" id="lastBox">
						<button type="submit" class="btn btn-success hoverButton"> Register </button>
						<span> Already registered? <a th:href="@{/login}"> Login here </a> </span>
					</div>
				 </form>
				</div>
			</div>
		</div>		
		
	  <!--<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div th:if "${success}" role="alert">
					<div class="alert alert-info"> You have successfully registered </div>
				</div>
			</div>
		</div>
	</div>-->
	<script type="text/javascript" th:src="@{/js/registration.js}"></script>
</body>
</html>